version: 0.8

index_id: ruxlog-metrics

index_uri: s3://quickwit/indexes/ruxlog-metrics

doc_mapping:
  mode: dynamic
  timestamp_field: timestamp
  field_mappings:
    - name: timestamp
      type: datetime
      stored: true
      indexed: true
      fast: true
      fast_precision: milliseconds
      input_formats:
        - unix_timestamp
        - rfc3339
      output_format: rfc3339
    - name: metric_name
      type: text
      stored: true
      indexed: true
      tokenizer: raw
      fast: true
    - name: value
      type: f64
      stored: true
      indexed: true
      fast: true
    - name: attributes
      type: json
      stored: true
      indexed: true
      tokenizer: raw

search_settings:
  default_search_fields: [metric_name]

indexing_settings:
  commit_timeout_secs: 30
  merge_policy:
    type: stable_log
    min_level_num_docs: 100000
    merge_factor: 10
    max_merge_factor: 12
    maturation_period: 48h

retention:
  period: 30 days
  schedule: daily
